body{
    background-color: #0d1219;
}

#jumbo-header{
    text-align: center;
    font-size: 4rem;
    line-height: 0;
    letter-spacing: 0.006em;
    font-weight: 900;
    font-style: italic;
    font-family: 'Lobster Two', cursive;
}

#jumbo-emoji{
    text-align: unset;
    line-height: 0;
}